<!--0421-->
{% extends 'base.html' %}

{% block title %}上海市高中自主招生信息收集系统{% endblock %} 

{% block content %}

	<div class="bigcontainer">

		<!-- 统计图 -->
		<div id="chart" style="width: 800px;height:400px;padding-right: 5px;padding-left: 5px;margin-right: auto;margin-left: auto;">
			<script type="text/javascript">
		        // 基于准备好的dom，初始化echarts实例
		        var myChart = echarts.init(document.getElementById('chart'));

		        // 指定图表的配置项和数据
		        var option = {
				    title : {
				        text: '南丁格尔玫瑰图',
				        subtext: '纯属虚构',
				        x:'center'
				    },
				    tooltip : {
				        trigger: 'item',
				        formatter: "{a} <br/>{b} : {c} ({d}%)"
				    },
				    legend: {
				        x : 'center',
				        y : 'bottom',
				        data:['rose1','rose2','rose3','rose4','rose5','rose6','rose7','rose8']
				    },
				    toolbox: {
				        show : true,
				        feature : {
				            mark : {show: true},
				            dataView : {show: true, readOnly: false},
				            magicType : {
				                show: true,
				                type: ['pie', 'funnel']
				            },
				            restore : {show: true},
				            saveAsImage : {show: true}
				        }
				    },
				    calculable : true,
				    series : [
				        {
				            name:'半径模式',
				            type:'pie',
				            radius : [20, 110],
				            center : ['25%', '50%'],
				            roseType : 'radius',
				            label: {
				                normal: {
				                    show: false
				                },
				                emphasis: {
				                    show: true
				                }
				            },
				            lableLine: {
				                normal: {
				                    show: false
				                },
				                emphasis: {
				                    show: true
				                }
				            },
				            data:[
				                {value:10, name:'rose1'},
				                {value:5, name:'rose2'},
				                {value:15, name:'rose3'},
				                {value:25, name:'rose4'},
				                {value:20, name:'rose5'},
				                {value:35, name:'rose6'},
				                {value:30, name:'rose7'},
				                {value:40, name:'rose8'}
				            ]
				        },
				        {
				            name:'面积模式',
				            type:'pie',
				            radius : [30, 110],
				            center : ['75%', '50%'],
				            roseType : 'area',
				            data:[
				                {value:10, name:'rose1'},
				                {value:5, name:'rose2'},
				                {value:15, name:'rose3'},
				                {value:25, name:'rose4'},
				                {value:20, name:'rose5'},
				                {value:35, name:'rose6'},
				                {value:30, name:'rose7'},
				                {value:40, name:'rose8'}
				            ]
				        }
				    ]
				};

		        // 使用刚指定的配置项和数据显示图表。
		        myChart.setOption(option);
	    	</script>
	    </div>

		<div>welcome to the homepage.</div>

		<div class="container">
			<span class="button-dropdoen button-dropdown-plain" data-buttons="dropdown">
			<button class="button button-caution button-pill">导出<i class="fa fa-caret-down"></i>
			</button>

			<ul class="button-dropdown-list is-below">
				<li><a href="http://www.baidu.com/">导出成exl</a></li>
				<li class="button-dropdown-divider">
					<a href="http://www.baidu.com/">导出成xml</a>
				</li>
				<li>
					<a href="http://www.baidu.com/">跳转到百度</a>
				</li>
			</ul>
			</span>
			<ul class="nav nav-pills">
 			<li role="presentation" class="dropdown">
    			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      				Dropdown <span class="caret"></span>
    			</a>
   				<ul class="dropdown-menu">
    			</ul>
  			</li>
			</ul>
			<div class="container">
				<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
					导出 
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">导出成exl</a></li>
				<li><a href="#">导出成xml</a></li>
					<li><a href="#">others</a></li>
					<li class="divider"></li>
					<li><a href="#">自定义导出</a></li>
					
				</ul>
				</div>
		
				<div class="panel-group" id="accordion">
	  				<div class="panel panel-default">
	   					<div class="panel-heading">
	     					<h4 class="panel-title">
	        					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">点击我进行展开，再次点击我进行折叠。第 1 部分
	        					</a>
	      					</h4>
	    				</div>
	    				<div id="collapseOne" class="panel-collapse collapse in">
	      					<div class="panel-body"> Nihil anim keffiyeh helvetica, 
	      					craft beer labore wes anderson
	      					cred nesciunt sapiente ea proident. 
	      					Ad vegan excepteur butcher vice lomo.
	      					</div>
	    				</div>
	 				</div>
	  				<div class="panel panel-default">
	   	 				<div class="panel-heading">
	      					<h4 class="panel-title">
	        					<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          					点击我进行展开，再次点击我进行折叠。<br>第 2 部分
	          					</a>
	      					</h4>
	    				</div>
	    				<div id="collapseTwo" class="panel-collapse collapse">
	      					<div class="panel-body">
	        				Nihil anim keffiyeh helvetica, craft beer labore wes anderson<br>
	        				cred nesciunt sapiente ea proident. Ad vegan excepteur butcher<br>
	        				vice lomo.
	      					</div>
	    				</div>
	  				</div>
	  				<div class="panel panel-default">
	    				<div class="panel-heading">
	      					<h4 class="panel-title">
	        					<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          					点击我进行展开，再次点击我进行折叠。第 3 部分
	          					</a>
	      					</h4>
	    				</div>
	    				<div id="collapseThree" class="panel-collapse collapse">
	      					<div class="panel-body">
	        				Nihil anim keffiyeh helvetica, craft beer labore wes anderson
	       		 			cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
	        				vice lomo.
	      					</div>
	    				</div>
	  				</div>
				</div>
			</div>
		</div>
		<div class="container">
			<button></button>
		</div>
	</div>

{% endblock %}
